function Apple.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 2
call Array.new 1
pop this 0
push constant 40
call Array.new 1
pop this 1
push constant 0
push this 1
add
push constant 252
neg
call Math.abs 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 126
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 140
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 210
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 350
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push constant 217
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 1
add
push constant 301
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 1
add
push constant 231
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 1
add
push constant 413
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 1
add
push constant 14
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 1
add
push constant 28
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 1
add
push constant 189
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 1
add
push constant 56
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 1
add
push constant 224
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 1
add
push constant 343
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 1
add
push constant 49
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 1
add
push constant 490
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 1
add
push constant 70
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 1
add
push constant 343
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 1
add
push constant 98
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 1
add
push constant 119
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 1
add
push constant 119
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 1
add
push constant 14
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 1
add
push constant 91
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 1
add
push constant 35
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 1
add
push constant 49
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 1
add
push constant 448
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 1
add
push constant 161
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 1
add
push constant 21
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 1
add
push constant 147
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 1
add
push constant 28
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 1
add
push constant 210
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 1
add
push constant 315
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 1
add
push constant 91
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 1
add
push constant 469
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 1
add
push constant 84
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 1
add
push constant 350
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 1
add
push constant 238
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 1
add
push constant 63
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 1
add
push constant 21
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 0
add
push constant 0
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 1
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop this 2
push pointer 0
return
function Apple.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Apple.draw 1
push argument 0
pop pointer 0
push constant 1
push this 0
add
pop pointer 1
push that 0
push constant 32
call Math.multiply 2
push constant 0
push this 0
add
pop pointer 1
push that 0
add
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push this 0
add
pop pointer 1
push that 0
push constant 1
push this 0
add
pop pointer 1
push that 0
push constant 0
push this 0
add
pop pointer 1
push that 0
push constant 7
add
push constant 1
push this 0
add
pop pointer 1
push that 0
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Apple.changeLoc 1
push argument 0
pop pointer 0
push this 2
push constant 1
add
pop this 2
push this 2
push constant 20
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 2
label IF_FALSE0
push constant 0
push this 0
add
push this 2
push constant 2
call Math.multiply 2
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push this 2
push constant 2
call Math.multiply 2
push constant 1
add
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Apple.getLoc 0
push argument 0
pop pointer 0
push this 0
return
